In [1]:
import sys
import tensorflow as tf
from termcolor import colored
print(colored('Python Version: %s' % sys.version.split()[0], 'blue'))
print(colored('TensorFlow Ver: %s' % tf.__version__, 'magenta'))

C:\Users\mikeb\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

Python Version: 3.6.2
TensorFlow Ver: 1.6.0

In [2]:
n_epoch = int(input('Enter no. of epochs for RNN training: '))

Enter no. of epochs for RNN training: 500

In [3]:
print(colored('No. of epochs: %d' % n_epoch, 'red'))

No. of epochs: 500

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('fraud_traing_set.csv')
data.head(10)

   Unnamed: 0  fake/real                                            reviews
0           0          1  We stayed 2 nights over spring break in what w...
1           1          1  Stayed at the Fitzpatrick as a result of all o...
2           2          1  We booked this hotel as a last minute vacation...
3           3          1  This hotel is a shambles-furniture literally f...
4           4          1  The hotel itself was beautiful and wonderful s...
5           5          1  I'd been searching for a cool, non-chain hotel...
6           6          1  I stayed @ Affinia for one night on a purpose ...
7           7          1  Having stayed at the excellent Affinia chain i...
8           8          1  I've been here for 4 days. Great location righ...
9           9          1  Stayed at the Fitzpatrick before, about 4 year...

In [6]:
print('data.shape:', data.shape)

data.shape: (1600, 3)

In [7]:
data["fake/real"].value_counts()

1    800
0    800
Name: fake/real, dtype: int64

In [8]:
X = data.reviews
y = data["fake/real"]

In [9]:
X.head(10)

0    We stayed 2 nights over spring break in what w...
1    Stayed at the Fitzpatrick as a result of all o...
2    We booked this hotel as a last minute vacation...
3    This hotel is a shambles-furniture literally f...
4    The hotel itself was beautiful and wonderful s...
5    I'd been searching for a cool, non-chain hotel...
6    I stayed @ Affinia for one night on a purpose ...
7    Having stayed at the excellent Affinia chain i...
8    I've been here for 4 days. Great location righ...
9    Stayed at the Fitzpatrick before, about 4 year...
Name: reviews, dtype: object

In [10]:
y.head(10)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: fake/real, dtype: int64

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.dummy import DummyClassifier
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score

In [12]:
vect = TfidfVectorizer(stop_words='english', token_pattern=r'\b\w{2,}\b')
dummy = DummyClassifier(strategy='most_frequent', random_state=0)

dummy_pipeline = make_pipeline(vect, dummy)

In [13]:
dummy_pipeline.named_steps

{'dummyclassifier': DummyClassifier(constant=None, random_state=0, strategy='most_frequent'),
 'tfidfvectorizer': TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
         dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
         lowercase=True, max_df=1.0, max_features=None, min_df=1,
         ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
         stop_words='english', strip_accents=None, sublinear_tf=False,
         token_pattern='\\b\\w{2,}\\b', tokenizer=None, use_idf=True,
         vocabulary=None)}

In [14]:
# Cross Validation
cv = cross_val_score(dummy_pipeline, X, y, scoring='accuracy', cv=10, n_jobs=-1)
print(colored('\nDummy Classifier\'s Accuracy: %0.5f\n' % cv.mean(), 'yellow'))

Dummy Classifier's Accuracy: 0.50000

In [15]:

from sklearn.naive_bayes import MultinomialNB

In [16]:
vect = TfidfVectorizer(stop_words='english', 
                       token_pattern=r'\b\w{2,}\b',
                       min_df=1, max_df=0.1,
                       ngram_range=(1,2))
mnb = MultinomialNB(alpha=2)

mnb_pipeline = make_pipeline(vect, mnb)

In [17]:
mnb_pipeline.named_steps

{'multinomialnb': MultinomialNB(alpha=2, class_prior=None, fit_prior=True),
 'tfidfvectorizer': TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
         dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
         lowercase=True, max_df=0.1, max_features=None, min_df=1,
         ngram_range=(1, 2), norm='l2', preprocessor=None, smooth_idf=True,
         stop_words='english', strip_accents=None, sublinear_tf=False,
         token_pattern='\\b\\w{2,}\\b', tokenizer=None, use_idf=True,
         vocabulary=None)}

In [18]:
# Cross Validation
cv = cross_val_score(mnb_pipeline, X, y, scoring='accuracy', cv=10, n_jobs=-1)
print(colored('\nMultinomialNB Classifier\'s Accuracy: %0.5f\n' % cv.mean(), 'green'))

MultinomialNB Classifier's Accuracy: 0.86000

In [19]:
import tflearn
from tflearn.data_utils import to_categorical, pad_sequences
from tflearn.datasets import imdb

curses is not supported on this machine (please install/reinstall curses for an optimal experience)

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(ngram_range=(1,1), token_pattern=r'\b\w{1,}\b')

In [22]:
vect.fit(X_train)
vocab = vect.vocabulary_

In [23]:
def convert_X_to_X_word_ids(X):
    return X.apply( lambda x: [vocab[w] for w in [w.lower().strip() for w in x.split()] if w in vocab] )

In [24]:
X_train_word_ids = convert_X_to_X_word_ids(X_train)
X_test_word_ids  = convert_X_to_X_word_ids(X_test)

In [25]:
X_train.head()

1379    As a frequent traveler for both business and p...
938     A few weeks ago we stayed at the Hard Rock Hot...
1197    I'd expect a "luxury" hotel to pay more attent...
730     I stayed for just one nite at the Sheraton Hot...
1145    After arriving at the Sofitel Chicago Water To...
Name: reviews, dtype: object

In [26]:
X_train_word_ids.head()

1379    [753, 287, 3485, 8367, 3415, 1232, 1374, 591, ...
938     [287, 3255, 8932, 484, 8907, 7709, 804, 8126, ...
1197    [3099, 287, 4087, 8252, 5871, 5287, 831, 8252,...
730     [4152, 7709, 3415, 4536, 5625, 5461, 804, 8126...
1145    [464, 741, 804, 8126, 7496, 1626, 8890, 8317, ...
Name: reviews, dtype: object

In [27]:
print('X_train_word_ids.shape:', X_train_word_ids.shape)
print('X_test_word_ids.shape:', X_test_word_ids.shape)

X_train_word_ids.shape: (1440,)
X_test_word_ids.shape: (160,)

In [28]:
X_train_padded_seqs = pad_sequences(X_train_word_ids, maxlen=20, value=0)
X_test_padded_seqs  = pad_sequences(X_test_word_ids , maxlen=20, value=0)

In [29]:
print('X_train_padded_seqs.shape:', X_train_padded_seqs.shape)
print('X_test_padded_seqs.shape:', X_test_padded_seqs.shape)

X_train_padded_seqs.shape: (1440, 20)
X_test_padded_seqs.shape: (160, 20)

In [30]:
pd.DataFrame(X_train_padded_seqs).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,753,287,3485,8367,3415,1232,1374,591,1703,591,1810,331,804,287,6449,6200,706,4211,8252,4036
1,287,3255,8932,484,8907,7709,804,8126,3878,6834,4087,4228,8126,4087,8870,287,1376,3509,8126,3615
2,3099,287,4087,8252,5871,5287,831,8252,8126,6859,6444,1039,8178,4152,3455,3831,8520,8126,8126,5218
3,4152,7709,3415,4536,5625,5461,804,8126,7209,4087,591,8319,591,8870,287,4811,5414,464,6434,287
4,464,741,804,8126,7496,1626,8890,8317,4087,4152,8870,3754,9027,6893,591,5347,6859,6688,3823,1039

In [31]:
pd.DataFrame(X_test_padded_seqs).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,7477,5347,5073,5696,8520,8126,5582,2510,804,8126,1642,8650,737,3912,8079,5073,4009,1256,706,8889
1,8907,7709,804,8126,6810,1472,8466,8932,591,4228,1848,8126,7496,2636,5501,1805,9027,8126,2295,8126
2,4152,1412,8126,6688,4782,8252,1211,287,6859,804,8126,1052,5582,2315,111,3415,287,6412,9027,287
3,8174,4451,287,8300,5625,8252,753,8126,7678,6417,8947,3509,14,7678,8252,218,591,3823,8252,3269
4,4152,8870,6444,3068,8965,8907,1212,287,5443,804,8126,3878,6834,4087,4228,4458,8870,382,1106,5693

In [32]:
unique_y_labels = list(y_train.value_counts().index)
unique_y_labels

[0, 1]

In [33]:
len(unique_y_labels)

2

In [34]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(unique_y_labels)

LabelEncoder()

In [35]:

print('')
for label_id, label_name in zip(le.transform(unique_y_labels), unique_y_labels):
    print('%d: %s' % (label_id, label_name))
print('')

0: 0
1: 1

In [36]:
y_train = to_categorical(y_train.map(lambda x: le.transform([x])[0]), nb_classes=len(unique_y_labels))
y_test  = to_categorical(y_test.map(lambda x:  le.transform([x])[0]), nb_classes=len(unique_y_labels))

In [37]:
y_train[0:3]

array([[1., 0.],
       [1., 0.],
       [1., 0.]])

In [38]:
print('y_train.shape:', y_train.shape)
print('y_test.shape:', y_test.shape)

y_train.shape: (1440, 2)
y_test.shape: (160, 2)

In [39]:
size_of_each_vector = X_train_padded_seqs.shape[1]
vocab_size = len(vocab)
no_of_unique_y_labels = len(unique_y_labels)

In [40]:
print('size_of_each_vector:', size_of_each_vector)
print('vocab_size:', vocab_size)
print('no_of_unique_y_labels:', no_of_unique_y_labels)

size_of_each_vector: 20
vocab_size: 9150
no_of_unique_y_labels: 2

In [41]:

#sgd = tflearn.SGD(learning_rate=1e-4, lr_decay=0.96, decay_step=1000)

net = tflearn.input_data([None, size_of_each_vector]) # The first element is the "batch size" which we set to "None"
net = tflearn.embedding(net, input_dim=vocab_size, output_dim=128) # input_dim: vocabulary size
net = tflearn.lstm(net, 128, dropout=0.6) # Set the dropout to 0.6
net = tflearn.fully_connected(net, no_of_unique_y_labels, activation='softmax') # relu or softmax
net = tflearn.regression(net, 
                         optimizer='adam',  # adam or ada or adagrad # sgd
                         learning_rate=1e-4,
                         loss='categorical_crossentropy')

WARNING:tensorflow:From C:\Users\mikeb\Anaconda3\lib\site-packages\tflearn\objectives.py:66: calling reduce_sum (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
keep_dims is deprecated, use keepdims instead

In [ ]:
#model = tflearn.DNN(net, tensorboard_verbose=0, checkpoint_path='SavedModels/model.tfl.ckpt')
model = tflearn.DNN(net, tensorboard_verbose=0)

In [ ]:
model.fit(X_train_padded_seqs, y_train, 
          validation_set=(X_test_padded_seqs, y_test), 
          n_epoch=n_epoch,
          show_metric=True, 
          batch_size=1600)

---------------------------------
Run id: D41JL6
Log directory: /tmp/tflearn_logs/
INFO:tensorflow:Summary name Accuracy/ (raw) is illegal; using Accuracy/__raw_ instead.
---------------------------------
Training samples: 1440
Validation samples: 160
--
Training Step: 1  | time: 2.190s
| Adam | epoch: 001 | loss: 0.00000 - acc: 0.0000 | val_loss: 0.69326 - val_acc: 0.3875 -- iter: 1440/1440
--
Training Step: 2  | total loss: 0.62382 | time: 1.447s
| Adam | epoch: 002 | loss: 0.62382 - acc: 0.4600 | val_loss: 0.69329 - val_acc: 0.3875 -- iter: 1440/1440
--
Training Step: 3  | total loss: 0.68050 | time: 1.425s
| Adam | epoch: 003 | loss: 0.68050 - acc: 0.5018 | val_loss: 0.69332 - val_acc: 0.4375 -- iter: 1440/1440
--
Training Step: 4  | total loss: 0.68999 | time: 1.437s
| Adam | epoch: 004 | loss: 0.68999 - acc: 0.5005 | val_loss: 0.69335 - val_acc: 0.4313 -- iter: 1440/1440
--
Training Step: 5  | total loss: 0.69212 | time: 1.434s
| Adam | epoch: 005 | loss: 0.69212 - acc: 0.5174 | val_loss: 0.69338 - val_acc: 0.4125 -- iter: 1440/1440
--
Training Step: 6  | total loss: 0.69275 | time: 1.428s
| Adam | epoch: 006 | loss: 0.69275 - acc: 0.5134 | val_loss: 0.69341 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 7  | total loss: 0.69291 | time: 1.431s
| Adam | epoch: 007 | loss: 0.69291 - acc: 0.5291 | val_loss: 0.69344 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 8  | total loss: 0.69302 | time: 1.432s
| Adam | epoch: 008 | loss: 0.69302 - acc: 0.5119 | val_loss: 0.69347 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 9  | total loss: 0.69298 | time: 1.435s
| Adam | epoch: 009 | loss: 0.69298 - acc: 0.5159 | val_loss: 0.69350 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 10  | total loss: 0.69304 | time: 1.423s
| Adam | epoch: 010 | loss: 0.69304 - acc: 0.5111 | val_loss: 0.69353 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 11  | total loss: 0.69297 | time: 1.429s
| Adam | epoch: 011 | loss: 0.69297 - acc: 0.5121 | val_loss: 0.69356 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 12  | total loss: 0.69305 | time: 1.424s
| Adam | epoch: 012 | loss: 0.69305 - acc: 0.5101 | val_loss: 0.69359 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 13  | total loss: 0.69299 | time: 1.447s
| Adam | epoch: 013 | loss: 0.69299 - acc: 0.5099 | val_loss: 0.69363 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 14  | total loss: 0.69304 | time: 1.457s
| Adam | epoch: 014 | loss: 0.69304 - acc: 0.5098 | val_loss: 0.69366 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 15  | total loss: 0.69296 | time: 1.437s
| Adam | epoch: 015 | loss: 0.69296 - acc: 0.5095 | val_loss: 0.69369 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 16  | total loss: 0.69302 | time: 1.456s
| Adam | epoch: 016 | loss: 0.69302 - acc: 0.5093 | val_loss: 0.69372 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 17  | total loss: 0.69294 | time: 1.458s
| Adam | epoch: 017 | loss: 0.69294 - acc: 0.5092 | val_loss: 0.69376 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 18  | total loss: 0.69298 | time: 1.463s
| Adam | epoch: 018 | loss: 0.69298 - acc: 0.5092 | val_loss: 0.69379 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 19  | total loss: 0.69292 | time: 1.433s
| Adam | epoch: 019 | loss: 0.69292 - acc: 0.5091 | val_loss: 0.69383 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 20  | total loss: 0.69297 | time: 1.470s
| Adam | epoch: 020 | loss: 0.69297 - acc: 0.5091 | val_loss: 0.69386 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 21  | total loss: 0.69288 | time: 1.438s
| Adam | epoch: 021 | loss: 0.69288 - acc: 0.5091 | val_loss: 0.69390 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 22  | total loss: 0.69292 | time: 1.459s
| Adam | epoch: 022 | loss: 0.69292 - acc: 0.5091 | val_loss: 0.69394 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 23  | total loss: 0.69284 | time: 1.490s
| Adam | epoch: 023 | loss: 0.69284 - acc: 0.5090 | val_loss: 0.69397 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 24  | total loss: 0.69290 | time: 1.431s
| Adam | epoch: 024 | loss: 0.69290 - acc: 0.5090 | val_loss: 0.69401 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 25  | total loss: 0.69282 | time: 1.431s
| Adam | epoch: 025 | loss: 0.69282 - acc: 0.5090 | val_loss: 0.69404 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 26  | total loss: 0.69288 | time: 1.425s
| Adam | epoch: 026 | loss: 0.69288 - acc: 0.5090 | val_loss: 0.69408 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 27  | total loss: 0.69279 | time: 1.433s
| Adam | epoch: 027 | loss: 0.69279 - acc: 0.5090 | val_loss: 0.69411 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 28  | total loss: 0.69286 | time: 1.426s
| Adam | epoch: 028 | loss: 0.69286 - acc: 0.5090 | val_loss: 0.69415 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 29  | total loss: 0.69276 | time: 1.430s
| Adam | epoch: 029 | loss: 0.69276 - acc: 0.5090 | val_loss: 0.69419 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 30  | total loss: 0.69283 | time: 1.432s
| Adam | epoch: 030 | loss: 0.69283 - acc: 0.5090 | val_loss: 0.69422 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 31  | total loss: 0.69274 | time: 1.464s
| Adam | epoch: 031 | loss: 0.69274 - acc: 0.5090 | val_loss: 0.69425 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 32  | total loss: 0.69281 | time: 1.429s
| Adam | epoch: 032 | loss: 0.69281 - acc: 0.5090 | val_loss: 0.69429 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 33  | total loss: 0.69269 | time: 1.406s
| Adam | epoch: 033 | loss: 0.69269 - acc: 0.5090 | val_loss: 0.69432 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 34  | total loss: 0.69277 | time: 1.475s
| Adam | epoch: 034 | loss: 0.69277 - acc: 0.5090 | val_loss: 0.69435 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 35  | total loss: 0.69265 | time: 1.463s
| Adam | epoch: 035 | loss: 0.69265 - acc: 0.5090 | val_loss: 0.69439 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 36  | total loss: 0.69273 | time: 1.422s
| Adam | epoch: 036 | loss: 0.69273 - acc: 0.5090 | val_loss: 0.69442 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 37  | total loss: 0.69260 | time: 1.450s
| Adam | epoch: 037 | loss: 0.69260 - acc: 0.5090 | val_loss: 0.69446 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 38  | total loss: 0.69248 | time: 1.433s
| Adam | epoch: 038 | loss: 0.69248 - acc: 0.5090 | val_loss: 0.69449 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 39  | total loss: 0.69239 | time: 1.465s
| Adam | epoch: 039 | loss: 0.69239 - acc: 0.5090 | val_loss: 0.69452 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 40  | total loss: 0.69251 | time: 1.467s
| Adam | epoch: 040 | loss: 0.69251 - acc: 0.5090 | val_loss: 0.69455 - val_acc: 0.4187 -- iter: 1440/1440
--
Training Step: 41  | total loss: 0.69237 | time: 1.438s
| Adam | epoch: 041 | loss: 0.69237 - acc: 0.5090 | val_loss: 0.69457 - val_acc: 0.4187 -- iter: 1440/1440
--

In [ ]:
model.save('SavedModels/model.tfl')
print(colored('Model Saved!', 'red'))

In [ ]:
model.load('SavedModels/model.tfl')
print(colored('Model Loaded!', 'red'))

In [ ]:

import numpy as np
from sklearn import metrics

In [ ]:
pred_classes = [np.argmax(i) for i in model.predict(X_test_padded_seqs)]
true_classes = [np.argmax(i) for i in y_test]

print(colored('\nRNN Classifier\'s Accuracy: %0.5f\n' % metrics.accuracy_score(true_classes, pred_classes), 'cyan'))

In [ ]:
ids_of_titles = range(0,200) # range(X_test.shape[0]) 

for i in ids_of_titles:
    pred_class = np.argmax(model.predict([X_test_padded_seqs[i]]))
    true_class = np.argmax(y_test[i])
    
    print(X_test.values[i])
    print('pred_class:', le.inverse_transform(pred_class))
    print('true_class:', le.inverse_transform(true_class))
    print('')